@import "static";
.footerMain{
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: #ffff;
    .socialIcons{
        display: flex;
        justify-content: center;
        padding: 1rem;
        align-items: center;
        cursor: pointer;
        gap: 2rem;
        svg{
            font-size: 1.5rem;
        }
       
    }
    .policy>ul{
        display: flex;
        padding: 1rem;
        justify-content: center;
        text-align: center;
        font-size: 16px;
    }
    .contact{
        display: flex;
        padding: 1rem;
        height: 4rem;
        justify-content: space-evenly;
        div>h3{
            font-size: 1.2rem;
        }
        div>h5{
            font-size: 16px;
        }
        .subheading{
            font-size: 18px;
            text-decoration: underline;
        }
  
    }
    .appIcon{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
        >h4{
            font-size: 20px;
        }
        >div>img{
            height: 2.5rem;
            margin: 6px;
        }
   
    }
    .copyright{
        text-align: center;
        padding: 0.5rem;
        >h4{
            font-size: 1rem;
            padding-top: 8px;
        }
    }


    // media query styling
    @media (max-width:700px) {
        padding: 10px 2px;
        .socialIcons{
            gap: 1rem;
            svg{
                font-size: 1.4rem;
            }
        }
        .policy>ul{
            display: flex;
            padding: 0rem;
            font-size: 16px;
        }
        .contact{
            padding: 10rem 5px; 
            flex-direction: column;
            justify-content: space-evenly;
            text-align: center;
            .subheading{
            font-size: 1.2rem;
            text-decoration: underline;
            }
      
        }
        .appIcon{
            margin-top: -5rem;
            padding: 5px 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            
            >h4{
                font-size: 16px;
            }
            >div>img{
                height: 2rem;
                margin: 6px;
            }
       
        }
    }
 
}

