.nav{
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    cursor: pointer;
        img{
            height: 2.5rem;
            width: 8rem;
        }

        @media (max-width:600px){
            display: flex;
            justify-content: space-around;
            font-size: 16px;
            img{
                height: 2.5rem;
                width: 4rem;
            }
            ul{
                gap: 1rem;
            }
        }
      
}
ul{
    display: flex;
    gap: 1.5rem;
    li{
        text-align: center;
    }
}
a{
    text-decoration: none;
    color: black;
}