
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;1,500&family=Open+Sans:wght@300;400&family=Roboto:wght@300;400&display=swap');


$text1: 'EB Garamond', serif;
$text2:"Roboto", sans-serif;
$text3:"Open sans", sans-serif;

$color1: #fef1fa;
$color2: #ffe5f8;
$color3: #edfcf1;
$color4: #ffefd1;
$color5: #f4f1fc;
$color3_1: #ad4126;